<!-- app.component.html -->
<div class="wrapper">
  <div class="background-">
    <!-- Aquí puedes agregar cualquier imagen de fondo que desees -->
  <div class="dashboard-content">
    <h1>Bienvenido a mi ruta</h1>
    <div class="options">
      <div class="option">
        <div class="option-box">
          <img src="https://media.licdn.com/dms/image/C4E0BAQFEtxk1pFRFtg/company-logo_200_200/0/1631137737592/equipos_integrados_logo?e=2147483647&v=beta&t=-ueWWA9mrkSpV9PvvsA_eQI03e_M9TelNszdC0k_yr0" alt="Image 1">
          <p>Equipos Integrados</p>
          <div class="description">
            <p>Desarrollé mi experiencia como cuantificador de infraestructura de telecomunicaciones, haciendo visitas a potenciales clientes, tomando medidas y requerimientos para llevar a cabo cableado horizontal y vertical, instalaciones de Data Center, asesoramiento de equipos y otros.</p>
          </div>
        </div>
      </div>
      <div class="option">
        <div class="option-box">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTF4oUAiR7qHOZfswqcUmIWWF-f-RYlwpASGw&s" alt="Image 2">
          <p>TATA</p>
          <div class="description">
            <p>En el área de Bodega, como principal funcion tenia el seguimiento y mantenimiento preventivo de equipos utilizados para cinchos, control de inventario y generacion de Bases de Datos para un mejor control.</p>
          </div>
        </div>
      </div>
      <div class="option">
        <div class="option-box">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQwlCDMpyabynk0qyz3bYM4xLk3c1zq3AM0_A&s" alt="Image 2">
          <p>STI</p>
          <div class="description">
            <p>Desempeñe el cargo de dibujante en construccion, mi principal funcion era el diseño o cambios de planos arquitectonicos para edificios, muros de contencion entre otros</p>
          </div>
        </div>
      </div>
      <!-- Agrega más opciones según sea necesario -->
    </div>
  </div>
</div>
</div>
