<div class="wrapper">
    <div class="background">
    </div>

    <div class="column-one">
        <p>Enviame un correo :
        </p>
        <a class="email-a" href="diseconsilustrativo@gmail.com">
            <p class="email">diseconsilustrativo@gmail.com</p>
        </a>
        <br>
        <p>o puedes contactarme por:</p>
        <div class="hero">
            <ul class="social-links">
                <li><a href="https://github.com/Custodio01" target="_blank"><i class="fab fa-github"></i></a></li>
                <li><a href="https://www.linkedin.com/in/kimberly-custodio-1473b3245/" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                <li><a href="https://www.instagram.com/nestacustodio/" target="_blank"><i class="fab fa-instagram"></i></a></li>
 
            </ul>
        </div>
        <div>
        </div>
    </div>
</div>