<div class="row wrapper">
    <div class="background"></div>
    <div class="pulsate"><div #elem class="parallax"></div> </div>
    <div #elem1 class="circle shadow" [style.top]="top" [style.left]="left" ></div>
    <div class="column-one">
        <p class="pre-name"><span role="img" aria-label="wave">👋</span>
            hey! mi 
        nombre es</p>
        <div class="name">
            <p class="p-name">Kimberly Custodio<span class="p-name2">.</span></p>
        </div>
        <div class="name">
            <p class="p-first">Soy un aspirante a Programador Jr, mis metas como profesional son:
                - Ingeniero en Sistemas
                - Programador FullStak
                - Maestria en ciberseguridad. Estoy estudiando actualmente la carrera de mis sueños.
            </p>
            <p class="p-second">Te invito a conocerme un poco mas! 
            Te debo la experiencia, pero me sobra la pasión!    
            </p>
            <h1>Contacto</h1>
            <p class="p-third">Encuentrame en <a href="https://www.facebook.com/jaz.custodio/photos_albums?locale=es_LA" rel="nofollow">DemCustodio</a> y conoce mi personalidad</p>
            <p class="p-third">Descarga mi <a href="https://drive.google.com/file/d/1PcFWj8r76sJ4mOw7RmyqA_cw_Ab9_Eos/view?usp=sharing" download>CV</a> para conocer mi profesionalismo</p>
        </div>
    </div>
    <div class="column-two">
    </div>
</div>